#appDrawer {
  .fa-bars {
    color: $color-inner;
    padding: 10px;
    cursor: pointer;
    border-radius:4px;
            background: linear-gradient(to right,#fff ,#fe2e48);
    
  }

  .drawer-box_mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .drawer-box {
    position: fixed;
    box-sizing: border-box;
    left: -240px;
    top: 0;
    width: 240px;
    height: 100%;
    z-index: 999;
    background: radial-gradient(80px 200px at left bottom,#fe2e48,transparent),radial-gradient(80px 200px at right bottom,#fe2e48,transparent),linear-gradient(#5FAeFF 20%, #cfeaf5 80%);
    transition: left 0.3s;
    overflow: auto;text-align:center;
    

    &.active {
      left: 0;
    }

    .drawer-box-head {
      padding: 20px 10px;
      color: #ffffff;
      border-bottom:1px solid #fff;
  border-radius: 0 0 20% 20% ; /* 上左、上右为半径值，下左、下右为0 */
  background: radial-gradient(80px 100px,#fe2e48,transparent),linear-gradient(to top,#fe2e48, transparent 100px),linear-gradient(#476999, #cfeaf5 100%);


      .drawer-box-head_logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
      }

      .drawer-box-head_title {
        text-align: center;
        font-size: 1.6em;
        font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        text-decoration: none;
      }

      .drawer-box-head_desc {
        font-size: 0.8em;
        text-align: center;
      }
    }

    .drawer-box-content {
      .drawer-box-content_menu {
        .drawer-box-content_item {
          display: block;
          box-sizing: border-box;
          overflow: hidden;

          a {
            color: #273849;
            display: block;
            width: 90%;
            margin:0 auto;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            padding: 10px 20px;
            margin-top:5px;
            border-radius:5px;
            border-right:6px solid white;
            border-left:6px solid #fe2e48;
            
            background: linear-gradient(white,transparent 20px),linear-gradient(to right,#fff 50px,#fe2e48 100%);

            .arrow {
              transition: all 0.3s;
            }

            .icon-rotate {
              transform: rotate(-90deg);
            }

            &:hover {
              background: linear-gradient(to left,#fff 50px,#fe2e48 100%,#aaaabb 50px),linear-gradient(white,transparent 20px);
              border-right:6px solid #fe2e48;
            border-left:6px solid white;
            }
          }

          .has-children {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .drawer-sub-menu {
            padding-left: 15px;
            list-style: none;
          }
        }
      }
    }
  }
}
